{% extends "baseTemplate.html" %} 
{% block content %}

<div style="width: 80%; height: 60%; margin: 0 auto;">
    <canvas id="miGrafico"></canvas>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/info">
        <button style="padding: 10px 20px; font-size: 16px; cursor: pointer;">
            Ver lineas
        </button>
    </a>
</div>

<script>
    const etiquetas = {{ etiquetas | tojson }};
    const data = {{ data | tojson }};

    new Chart(document.getElementById('miGrafico'), {
        type: 'bar',
        data: {
            labels: etiquetas,
            datasets: [{
                label: 'Ventas',
                data: data,
                borderWidth: 2
            }]
        }
    });
</script>

{% endblock %}