{% extends "baseTemplate.html" %} {% block content %}
<body>
  <div class="container py-5">
    <!-- Botón Agregar Producto -->
    <h2>{{ producto.nombre }}</h2>
    <div class="d-flex justify-content-end mb-3">
      <a
        href="/agregarvariacion/{{producto.id_producto}}"
        class="btn btn-success"
        >Agregar Variacion</a
      >
    </div>

    <!-- Tabla de productos -->
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Talla</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if variaciones %} {% for variacion in variaciones %}
          <tr>
            <td>{{ variacion.id_variacion }}</td>
            <td>{{ variacion.talla }}</td>
            <td>{{ variacion.stock }}</td>
            <td>{{ variacion.precio }}</td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-outline-primary btn-sm dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Acciones
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="/editarvariacion/{{ variacion.id_variacion }}"
                    >
                      <i class="bi bi-pencil-square"></i> Editar
                    </a>
                  </li>

                  <li>
                    <a
                      class="dropdown-item text-danger"
                      href="#"
                      onclick="if (confirm('¿Está seguro de eliminar esta variación?')) window.location.href='/eliminarvariacion/{{ variacion.id_variacion }}';"
                    >
                      <i class="bi bi-trash3"></i> Eliminar
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td colspan="5" class="text-center text-muted">
              No hay variaciones
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}
